/*-----------------
	8. Header
-----------------------*/

.header {
    background-color: #fff;
    border-bottom: 1px solid #f3f3f4;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001;
    height: 60px;
}

.header .header-left {
    float: left;
    height: 60px;
    padding: 0 20px;
    position: relative;
    width: 259px;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.03);
}

.mini-sidebar .header .header-left {
    justify-content: center;
}

.header .header-left .logo {
    display: inline-block;
    line-height: 60px;
}

.header .header-left .logo img {
    max-height: 40px;
    width: auto;
}

.header-left .logo.logo-small {
    display: none;
}

.header .dropdown-menu>li>a {
    position: relative;
}

.header .dropdown-toggle:after {
    display: none;
}

.header .has-arrow .dropdown-toggle:after {
    border-top: 0;
    border-left: 0;
    border-bottom: 2px solid #7E84A3;
    border-right: 2px solid #7E84A3;
    content: '';
    height: 8px;
    display: inline-block;
    pointer-events: none;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px;
    vertical-align: 0px;
}

.header .has-arrow .dropdown-toggle[aria-expanded="true"]:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.user-menu {
    float: right;
    margin: 0;
    position: relative;
    z-index: 99;
    padding-right: 15px;
    align-items: center;
}

.user-menu.nav>li>a {
    color: #a0a0a0;
    font-size: 14px;
    line-height: 58px;
    padding: 0 15px;
    height: 60px;
}

.user-menu.nav>li>a:hover,
.user-menu.nav>li>a:focus {
    background-color: rgb(232 232 232 / 20%);
}

.user-menu.nav>li>a:hover i,
.user-menu.nav>li>a:focus i {
    color: #18aefa;
}

.user-img {
    margin-right: 3px;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.new-user-menus .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user-img .user-text {
    margin: 0px 8px;
}

.user-img .user-text .text-muted {
    line-height: 1.2;
    font-size: 12px;
    font-weight: 500;
    color: #3D5EE1 !important;
}

.user-img .user-text h6 {
    font-size: 14px;
    font-weight: 500;
    color: #1d1d1d;
    margin-bottom: 3px;
}

.user-img img {
    width: 40px;
    height: 40px;
    border: 2px solid #E6E6E6;
    padding: 2px;
}

.user-menu.nav>li>a.mobile_btn {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer
}

.user-menu .dropdown-menu {
    min-width: 200px;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    display: block;
    transform: translate(0px, 100px);
}

.user-menu .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.user-menu .dropdown-menu .dropdown-item {
    padding: 7px 15px;
}

.user-menu .dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    border-top: 1px solid #e3e3e3;
    padding: 10px 15px;
}

.user-menu .dropdown-menu .dropdown-item:hover {
    color: #3d5ee1;
}

.header .dropdown-menu>li>a:focus,
.header .dropdown-menu>li>a:hover {
    background-color: #3d5ee1;
    color: #fff;
}

.header .dropdown-menu>li>a:focus i,
.header .dropdown-menu>li>a:hover i {
    color: #fff;
}

.header .dropdown-menu>li>a {
    padding: 10px 18px;
}

.header .dropdown-menu>li>a i {
    color: #3d5ee1;
    margin-right: 10px;
    text-align: center;
    width: 18px;
}

.header .user-menu .dropdown-menu>li>a i {
    color: #3d5ee1;
    font-size: 16px;
    margin-right: 10px;
    min-width: 18px;
    text-align: center;
}

.header .user-menu .dropdown-menu>li>a:focus i,
.header .user-menu .dropdown-menu>li>a:hover i {
    color: #fff;
}

.mobile_btn {
    display: none;
    float: left;
}

.slide-nav .sidebar {
    margin-left: 0;
}

.user-header {
    background-color: #f9f9f9;
    display: flex;
    padding: 10px 15px;
}

.user-header .user-text {
    margin-left: 10px;
}

.user-header .user-text h6 {
    margin-bottom: 2px;
}

.menu-title {
    color: #a3a3a3;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 25px;
}

.sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1000;
}

.sidebar-overlay.opened {
    display: block;
}

html.menu-opened {
    overflow: hidden;
}

html.menu-opened body {
    overflow: hidden;
}

.top-nav-search {
    float: left;
    margin-left: 55px;
}

.top-nav-search form {
    margin-top: 10px;
    position: relative;
    width: 300px;
}

.top-nav-search .form-control {
    background: #F5F5F5;
    border: 1px solid #D7D9DE;
    border-radius: 8px;
    color: #6c757d;
    height: 40px;
    padding: 10px 15px 10px 40px;
}

.top-nav-search .btn {
    background-color: transparent;
    border-color: transparent;
    color: rgba(17, 17, 17, 0.32);
    min-height: 40px;
    padding: 7px 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.top-nav-search .form-control::-webkit-input-placeholder {
    color: rgba(17, 17, 17, 0.32);
    font-weight: 500;
}

.top-nav-search .form-control::-moz-placeholder {
    color: rgba(17, 17, 17, 0.32);
    font-weight: 500;
}

.top-nav-search .form-control:-ms-input-placeholder {
    color: rgba(17, 17, 17, 0.32);
    font-weight: 500;
}

.top-nav-search .form-control::-ms-input-placeholder {
    color: rgba(17, 17, 17, 0.32);
    font-weight: 500;
}

.top-nav-search .form-control::placeholder {
    color: rgba(17, 17, 17, 0.32);
    font-weight: 500;
}

.top-nav-search.active form {
    display: block;
    left: 0;
    position: absolute;
}

.user-menu.nav .header-nav-list {
    width: 40px;
    height: 40px;
    background: #F7F7FA;
    border-radius: 50px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}

.user-menu.nav .header-nav-list i {
    font-size: 20px;
}

.language-drop .noti-content {
    width: 200px;
    overflow-y: auto;
    position: relative;
}

.language-drop .dropdown-menu {
    inset: 0px 0 auto auto !important;
}